.agenda{
    .container{
        margin-left: 200px;
        margin-top: 90px;
        background-color: #f0f0f0;

        .top {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #f8f8f8;
            box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
            padding: 10px;
            margin-bottom: 20px; 
            .wrapper{
                width: 100%;
                padding: 20px;
                display: flex;
                align-items: center;
                justify-content: space-between;
            }
        }

        .bottom {
            flex: 1;
            background-color: #f0f0f0; /* Fond pour visualiser la section */
            padding: 20px;
            margin: 20px;
        }
    }
}